body {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

pre {
  font-family: monospace;
  word-wrap: break-word;
}

#build-header,
#resource-header {
  width: 100%;
  height: 90px;
}

#build-header {
  position: fixed;
  z-index: 2;
}

#build-body {
  position: relative;
  top: 90px;
  z-index: 1;
}

#build-title {
  padding: 0;
  position: relative;
}

#build-title h1,
#resource-header h1 {
  line-height: 60px;
  display: inline-block;
  margin: 0;
}


#build-title .trigger-build {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

#build-title .trigger-build input {
  border: none;
  font-size: 2em;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 0 16px;
  margin: 0;
  background: rgba(255, 255, 255, 0.125);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

#build-title .trigger-build input:hover {
  background: rgba(255, 255, 255, 0.25);
}

#build-title .trigger-build input:active {
  background: rgba(0, 0, 0, 0.125);
  outline: none;
}

#build-title .abort-build {
  display: inline-block;
}

#build-title .abort-build input {
  border: none;
  font-family: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 0 16px;
  margin: 0;
  background: rgba(255, 255, 255, 0.125);
  margin-left: 2em;
}

#build-title a.title,
#resource-header a.title {
  border: none;
  font-size: 2em;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 0 12px;
  margin: 0;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.125);
}

#build-title a.title:hover,
#resource-header a.title:hover {
  background: rgba(255, 255, 255, 0.25);
}

#build-title a.title:active,
#resource-header a.title:active {
  background: rgba(0, 0, 0, 0.125);
  outline: none;
}

#builds,
.builds-list {
  display: block;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space:nowrap;
}

#builds li,
.builds-list li {
  display: inline-block;
}

#builds li {
  opacity: .8;
}

#builds li.current {
  opacity: 1;
}

#builds li a,
.builds-list li a {
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  margin: 0;
  padding: 5px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

#builds li.started a,
.builds-list li.started {
  -webkit-animation: wiggle-build 0.5s infinite;
}

#build-title.started h1 {
  -webkit-animation: wiggle-build 0.5s infinite;
}

#build-body .section {
  margin: 0 30px;
}

#build-body .section h2 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}

#build-body .builds-list {
  padding: 20px;
}

#build-body .builds-list a {
  font-size: 40px;
  padding: 10px;
}

@-webkit-keyframes wiggle-build {
  0% { -webkit-transform: rotate(1deg); }
  50% { -webkit-transform: rotate(-1deg); }
  100% { -webkit-transform: rotate(1deg); }
}

#build-log {
  margin: 0;
  padding: 10px;
}

#build-log .error {
  font-weight: bold;
}

.build-resources.build-inputs:before,
.build-resources.build-outputs:before,
#build-log:before {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.build-resources.build-inputs:before {
  content: "inputs";
}

.build-resources.build-outputs:before {
  content: "outputs";
}

#build-log:before {
  content: "build";
}

.resource-body {
  padding: 0 10px 10px;
}

.resource-body pre {
  margin: 10px 0 0;
}

.build-metadata {
  float: right;
  margin: 0;
}

.build-resources {
  padding: 10px;
  clear: both;
}

.build-resources:empty,
#build-log:empty {
  display: none;
}

.build-resources .resource-header {
  cursor: pointer;
  clear: both;
}

.build-resources .build-source {
  margin-top: 10px;
}

.build-resources .resource-header .version {
  margin: 0;
  padding: 0 6px;
  line-height: 28px;
  float: right;
}

.build-resources .resource-header h3 {
  margin: 0;
  float: left;
  margin-left: 6px;
  line-height: 28px;
}

.build-resources dt,
.build-metadata dt {
  width: 10em;
  display: inline-block;
  float: left;
  text-align: right;
}

.build-resources dd,
.build-metadata dd {
  margin-left: 11em;
  white-space: pre;
  word-wrap: break-word;
}

#version-history {
  border-spacing: 0;
  width: 100%;
}

#version-history th {
  text-align: left;
  margin: 0;
  padding: 0 1em;
}

#version-history td {
  background: #111;
  margin: 0;
  padding: 0 10px;
  border: 10px solid #222;
  border-right: 0;
  border-bottom: 0;
  vertical-align: top;
}

#version-history dl.build-metadata {
  padding: 1em;
}

#version-history table.jobs td {
  border: 0;
  padding: 10px 10px 0;
  vertical-align: middle;
}

#version-history table.jobs h3 {
  margin: 0;
  text-align: right;
}

svg#pipeline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

svg h1 {
  margin: 5px;
  width: 100%;
}

svg h1.resource {
  font-size: 1.5em;
  font-weight: normal;
  width: 100%;
}

svg h1 a {
  padding: 5px;
  text-decoration: none;
}

svg .node.job h1 a {
  font-weight: bold;
}

svg .node rect {
  shape-rendering: crispEdges;
}

svg .node.resource.checking rect, .node.job.started rect {
  -webkit-animation: wiggle-build 0.5s infinite;
  shape-rendering: auto;
}

.edgeLabel rect {
  fill: none;
}

.edgeLabel text {
  font-size: 1em;
  font-weight: normal;
}

.edgePath path {
  stroke-width: 2px;
  fill: none;
}
