body {
  font-family: Courier, monospace;
  font-size: 12px;
  line-height: 1.4;
}

pre {
  font-family: Courier, monospace;
}

#build-log {
  padding: 1em;
}

.ansi-bold { font-weight: bold; }

body { background: #222222; color: #dfeee0; }

a { color: #6a9eef; } 

::selection { background: #555555; color: #ffffff; }

.black, .ansi-black { color: #453c31; }
.black.bright,
.ansi-black.ansi-bright,
.ansi-black.ansi-bold { color: #5d4c4c; }

.red, .ansi-red { color: #d36764; }
.red.bright,
.ansi-red.ansi-bright,
.ansi-red.ansi-bold { color: #d25f3a; }

.green, .ansi-green { color: #8cb287; }
.green.bright,
.ansi-green.ansi-bright,
.ansi-green.ansi-bold { color: #8eac27; }

.yellow, .ansi-yellow { color: #ebb263; }
.yellow.bright,
.ansi-yellow.ansi-bright,
.ansi-yellow.ansi-bold { color: #ffad65; }

.blue, .ansi-blue { color: #6a9eef; }
.blue.bright,
.ansi-blue.ansi-bright,
.ansi-blue.ansi-bold { color: #8cd2ed; }

.magenta, .ansi-magenta { color: #e1bc8e; }
.magenta.bright,
.ansi-magenta.ansi-bright,
.ansi-magenta.ansi-bold { color: #a16d00; }

.cyan, .ansi-cyan { color: #b5c9e1; }
.cyan.bright,
.ansi-cyan.ansi-bright,
.ansi-cyan.ansi-bold { color: #b5c9e1; }

.white, .ansi-white { color: #c0afa0; }
.white.bright,
.ansi-white.ansi-bright,
.ansi-white.ansi-bold { color: #e0cfc0; }
