body {
  font-family: Courier, monospace;
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

pre {
  font-family: Courier, monospace;
}

#build-log {
  margin: 0;
  padding: 1em;
}

#autoscroll-toggle {
  position: fixed;
  top: 1em;
  right: 1em;
}

.ansi-bold { font-weight: bold; }

body { background: #222222; color: #dfeee0; }

a { color: #6a9eef; }

form.trigger-build input {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: none;
  font-family: inherit;
  font-weight: bold;
  color: #e0cfc0;
  font-size: 2em;
  cursor: pointer;
  padding: 0.25em 0.5em;
  background: transparent;
}

form.trigger-build input:hover {
  background: #453c31;
}

ul.jobs {
  margin: 1em 0 0 0;
  padding: 0;
}

ul.jobs li {
  list-style: none;
}

ul.jobs li a {
  float: left;
  font-size: 4em;
  display: block;
  padding: 0.25em 0.5em;
  font-weight: bold;
  text-decoration: none;
}

ul.builds {
  margin: 1em 0 0 0;
  padding: 0;
}

ul.builds li {
  float: left;
  list-style: none;
}

ul.builds li a {
  width: 3em;
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

ul.jobs li a:hover,
ul.builds li a:hover {
  background: #453c31;
}

ul.jobs li.succeeded a,
ul.builds li.succeeded a {
  color: #8cb287;
}

ul.jobs li.failed a,
ul.builds li.failed a {
  color: #d36764;
}

ul.jobs li.pending a,
ul.builds li.pending a {
  color: #5d4c4c;
}

ul.jobs li.errored a,
ul.builds li.errored a {
  color: #e1bc8e;
}

ul.jobs li.started a,
ul.builds li.started a {
  color: #ebb263;
}

#build-title {
  padding: 1em;
}

#build-title h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
}

#build-title.succeeded {
  background: #8cb287;
}

#build-title.failed {
  background: #d36764;
}

#build-title.pending {
  background: #5d4c4c;
}

#build-title.errored {
  background: #e1bc8e;
}

#build-title.started {
  background: #ebb263;
}

#build-body {
  padding: 1em;
}

#build-title.started h1 {
  -webkit-animation: wiggle-job 0.5s infinite;
}

ul.jobs li.started a {
  -webkit-animation: wiggle-job 0.5s infinite;
}

ul.builds li.started a {
  -webkit-animation: wiggle-build 0.5s infinite;
}

@-webkit-keyframes wiggle-job {
  0% { -webkit-transform: rotate(1deg); }
  50% { -webkit-transform: rotate(-1deg); }
  100% { -webkit-transform: rotate(1deg); }
}

@-webkit-keyframes wiggle-build {
  0% { -webkit-transform: rotate(10deg); }
  50% { -webkit-transform: rotate(-10deg); }
  100% { -webkit-transform: rotate(10deg); }
}

#metadata {
  float: right;
  margin-right: 1em;
}

::selection { background: #555555; color: #ffffff; }

.black, .ansi-black-fg { color: #453c31; }
.black.bright, .ansi-bright-black-fg, .ansi-black-fg.ansi-bold { color: #5d4c4c; }

.red, .ansi-red-fg { color: #d36764; }
.red.bright, .ansi-bright-red-fg, .ansi-red-fg.ansi-bold { color: #d25f3a; }

.green, .ansi-green-fg { color: #8cb287; }
.green.bright, .ansi-bright-green-fg, .ansi-green-fg.ansi-bold { color: #8eac27; }

.yellow, .ansi-yellow-fg { color: #ebb263; }
.yellow.bright, .ansi-bright-yellow-fg, .ansi-yellow-fg.ansi-bold { color: #ffad65; }

.blue, .ansi-blue-fg { color: #6a9eef; }
.blue.bright, .ansi-bright-blue-fg, .ansi-blue-fg.ansi-bold { color: #8cd2ed; }

.magenta, .ansi-magenta-fg { color: #e1bc8e; }
.magenta.bright, .ansi-bright-magenta-fg, .ansi-magenta-fg.ansi-bold { color: #a16d00; }

.cyan, .ansi-cyan-fg { color: #b5c9e1; }
.cyan.bright, .ansi-bright-cyan-fg, .ansi-cyan-fg.ansi-bold { color: #b5c9e1; }

.white, .ansi-white-fg { color: #c0afa0; }
.white.bright, .ansi-bright-white-fg, .ansi-white-fg.ansi-bold { color: #e0cfc0; }

.ansi-black-bg { background-color: #453c31; }
.ansi-bright-black-bg { background-color: #5d4c4c; }

.ansi-red-bg { background-color: #d36764; }
.ansi-bright-red-bg { background-color: #d25f3a; }

.ansi-green-bg { background-color: #8cb287; }
.ansi-bright-green-bg { background-color: #8eac27; }

.ansi-yellow-bg { background-color: #ebb263; }
.ansi-bright-yellow-bg { background-color: #ffad65; }

.ansi-blue-bg { background-color: #6a9eef; }
.ansi-bright-blue-bg { background-color: #8cd2ed; }

.ansi-magenta-bg { background-color: #e1bc8e; }
.ansi-bright-magenta-bg { background-color: #a16d00; }

.ansi-cyan-bg { background-color: #b5c9e1; }
.ansi-bright-cyan-bg { background-color: #b5c9e1; }

.ansi-white-bg { background-color: #c0afa0; }
.ansi-bright-white-bg { background-color: #e0cfc0; }
