body {
  font-family: Courier, monospace;
  font-size: 12px;
  line-height: 1.4;
}

pre {
  font-family: Courier, monospace;
}

#build-log {
  padding: 1em;
}

#autoscroll-toggle {
	position: absolute;
	top: 1em;
	right: 1em;
}

.ansi-bold { font-weight: bold; }

body { background: #222222; color: #dfeee0; }

a { color: #6a9eef; } 

::selection { background: #555555; color: #ffffff; }

.black, .ansi-black-fg { color: #453c31; }
.black.bright, .ansi-bright-black-fg, .ansi-black-fg.ansi-bold { color: #5d4c4c; }

.red, .ansi-red-fg { color: #d36764; }
.red.bright, .ansi-bright-red-fg, .ansi-red-fg.ansi-bold { color: #d25f3a; }

.green, .ansi-green-fg { color: #8cb287; }
.green.bright, .ansi-bright-green-fg, .ansi-green-fg.ansi-bold { color: #8eac27; }

.yellow, .ansi-yellow-fg { color: #ebb263; }
.yellow.bright, .ansi-bright-yellow-fg, .ansi-yellow-fg.ansi-bold { color: #ffad65; }

.blue, .ansi-blue-fg { color: #6a9eef; }
.blue.bright, .ansi-bright-blue-fg, .ansi-blue-fg.ansi-bold { color: #8cd2ed; }

.magenta, .ansi-magenta-fg { color: #e1bc8e; }
.magenta.bright, .ansi-bright-magenta-fg, .ansi-magenta-fg.ansi-bold { color: #a16d00; }

.cyan, .ansi-cyan-fg { color: #b5c9e1; }
.cyan.bright, .ansi-bright-cyan-fg, .ansi-cyan-fg.ansi-bold { color: #b5c9e1; }

.white, .ansi-white-fg { color: #c0afa0; }
.white.bright, .ansi-bright-white-fg, .ansi-white-fg.ansi-bold { color: #e0cfc0; }

.ansi-black-bg { background-color: #453c31; }
.ansi-bright-black-bg { background-color: #5d4c4c; }

.ansi-red-bg { background-color: #d36764; }
.ansi-bright-red-bg { background-color: #d25f3a; }

.ansi-green-bg { background-color: #8cb287; }
.ansi-bright-green-bg { background-color: #8eac27; }

.ansi-yellow-bg { background-color: #ebb263; }
.ansi-bright-yellow-bg { background-color: #ffad65; }

.ansi-blue-bg { background-color: #6a9eef; }
.ansi-bright-blue-bg { background-color: #8cd2ed; }

.ansi-magenta-bg { background-color: #e1bc8e; }
.ansi-bright-magenta-bg { background-color: #a16d00; }

.ansi-cyan-bg { background-color: #b5c9e1; }
.ansi-bright-cyan-bg { background-color: #b5c9e1; }

.ansi-white-bg { background-color: #c0afa0; }
.ansi-bright-white-bg { background-color: #e0cfc0; }
